<div id="498">
  <div class="container text-center">
    <h1>Sorry, that link is expired, or<br/><span class="mobile-spacer">&nbsp;</span>it has already been used.</h1>
    <hr/>
    <div class="help">
      <p>Need further help accessing your account?<br/><span class="mobile-spacer">&nbsp;</span>Please <a href="/contact">contact support</a> or request a new <a href="/password/forgot">password reset.</a></p>
      <a class="btn btn-lg btn-outline-dark" href="/password/forgot">Reset password</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
