<div id="500">
  <div class="container text-center">
    <h1 class="display-1 mb-3">Oh my.</h1>
    <hr/>
    <h2>We've encountered an unexpected error.</h2>
    <div class="help">
      <p><!--But mark my words, the person responsible will walk the plank for this.<br/><span class="mobile-spacer">&nbsp;</span>-->Need help with your account? Please <a href="/contact">let us know</a>.</p>
      <a class="btn btn-lg btn-outline-dark" href="/contact">Open a help request</a>
    </div>
  </div>
</div>
